body {
    text-align: center;
    font-family: "Arial";
    background-color: black;
    background-attachment: fixed;
}

.container {
    width: 70%;
    padding: 1em;
    text-align: left;
    font-size: 16px;
    border: 2px solid rgb(250, 99, 99);
    margin: 0 auto;
    padding: 1em;
}

#cabecera {
    background-color: rgb(131, 131, 226);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    color: white;
    padding: 0.5em;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

#cabecera #logo {
    width: 50px;
    vertical-align: middle;
}

#post {
    padding: 1em;
    background-color: white;
}

#cabecera #tagline {
    font-size: 17px;
    margin-left: 16px;
}

.container h1 {
    font-size: 20px;
}

footer {
    background-color: #777;
    padding: 1px;
    text-align: center;
    color: white;
}